/** @format */

.sideBar {
  width: 50px;
  background: rgb(3, 17, 37);
  min-height: 100vh;
  position: fixed;
  color: #fff;
  top: 0;
  padding-top: 20vh;
  text-align: left;
}
.sideBar p {
  font-size: 25px;
  margin-left: 10px;
}
.sideBarList {
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
.sideBarList p {
  font-size: 16px;
  margin-top: 40px;
}
