/** @format */

.App {
  text-align: center;
  background-image: url("../public/images/pictwo.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.backgroundOne {
  background-image: url("../public/images/picone.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
}
.backgroundTwo {
  background: rgba(5, 19, 37, 0.733);
  height: 100vh;
  color: #fff;
}
.backgroundTwo .heading {
  font-weight: 400;
  font-size: 25px;
}
.backgroundOne button {
  background: linear-gradient(
    to right,
    rgb(70, 43, 95),
    rgb(66, 30, 165),
    blue
  );
  border: none;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 20px;
}
